<style>
  body {
    background-image: url("/assets/images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
</style>
<div class="row">
  <div class="col s12 m12 l12">
    <div class="card-content">
      <h1 class="card-title" style="font-size: 40px;  text-align: center;">EAT-DA-BURGER!</h1>
      <p style="font-size: 25px;  text-align: center;">Welcome to Eat-Da-Burger... <br>Please submit your burger and
        devour it!</p>
    </div>
  </div>
  <div class="row">
    <form class="col s6 offset-s3">
      <div class="row">
        <div class="input-field col s12">
          {{!-- <form action="/burgers/create" method="POST"> --}}
          <form>
            <i class="material-icons prefix">local_dining</i>
            <textarea id="textarea1" class="materialize-textarea" style="background-color: white;" name="burger_name"
              value="" id="enter_text"></textarea>
            <label for="textarea1"> Put your burger here!</label>
        </div>
        <button type="submit" class="submit btn-large col s4 offset-s4" id="text-enter-button">SUBMIT!</button>
    </form>
  </div>
  </form>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col s4 m4 l4" style="background-color: rgba(253, 253, 253, 0.76); padding: 10px;">
      <p style="font-size: 20px;">Burgers to Eat.....</p>
      {{#each burgers}} {{#unless this.devoured}}
      {{!-- <form action="/api/update/{{this.id}}?_method=PUT" method="POST"> --}}
      <form>
        <div class="input-group">
          <pre style="font-size: 18px;">{{this.id}}. {{this.burger_name}}</pre>
          <input input type="hidden" class="burger_id" type="text" value={{this.id}}>
          {{!-- <button class="devour waves-effect waves-light btn-small" type="submit" data-id="{{id}}" --}}
          <button class="devour waves-effect waves-light btn-small" type="submit" data-id="{{id}}" data-eat="{{devoured}}">Devour It!</button>
        </div>
      </form>
      {{/unless}} {{/each}}
    </div>
    <div class="col s4 m4 l4">
    </div>
    <div class="col s4 m4 l4" style="background-color: rgba(253, 253, 253, 0.76); padding: 10px;">
      <p style="font-size: 20px;">Eaten Burgers.....</p>
      {{!-- {{#each burger_data}} {{#if this.devoured}} --}}
      {{!-- {{#each burgers}} {{#if this.devoured}} --}}
      {{#each burgers}} {{#if this.devoured}}
      <input class="form-control" type="text" placeholder="{{this.id}} . {{this.burger_name}}" readonly>
      {{/if}}
      {{/each}}
    </div>
  </div>
</div>